.action-result {
    font-family: 'Courier New', monospace;
    white-space: pre;
    /* This preserves formatting of the text */
}

.fortiweb-icon {
    height: 50px;
    margin-right: 15px;
}

iframe.action-result {
    height: 35px;
}

/* Light Mode */
body {
    background-color: #F4F3EF;
    color: #000000;
}

.action-result {
    background-color: #FAFAFA;
    color: #000000;
}

/* Dark Mode */
.dark-mode {
    background-color: #303030;
    color: #FFFFFF;
}

.dark-mode .action-result {
    background-color: #a9a9a9;
    color: #e0dddd;
}

.category-buttons {
    margin-bottom: 20px;
}

.category-buttons button {
    margin-right: 10px;
}

.tile {
    background-color: #FFFFFF;
    /* light grey */
    border-radius: 10px;
    /* rounded corners */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    /* shadow effect */
    padding: 40px 30px;
    /* space inside the tile */
    margin-bottom: 20px;
    /* space between tiles */
    margin-right: 20px;
    /* space between tiles */
}

.dark-mode .dark-tile {
    background-color: #424242;
    /* dark grey */
    border-radius: 10px;
    /* rounded corners */
    /*box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.1);*/
    /* white shadow effect */
    padding: 40px 30px;
    /* space inside the tile */
    margin-bottom: 20px;
    margin-right: 20px;
    /* space between tiles */
    color: #FFFFFF;
    /* white text color */
}

.tile-header {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1px 10px;
}

.dark-mode .dark-tile-header {
    background-color: #424242;
    padding: 1px 10px;
    color: #FFFFFF;
}

.courier-text {
    font-family: 'Courier New', Courier, monospace;
}