.action-result {
    font-family: 'Courier New', monospace;
    white-space: pre;
    /* This preserves formatting of the text */
}

.fortiweb-icon {
    height: 50px;
    margin-right: 15px;
}

iframe.action-result {
    height: 35px;
    /* or any other value that you find suitable */
}

/* Light Mode (Eggshell) */
body {
    background-color: #FFFFFF;
    color: #000000;
}

.action-result {
    background-color: #FAFAFA;
    color: #000000;
}

/* Dark Mode (Space Grey) */
.dark-mode {
    background-color: #424242;
    color: #ffffff;
}

.dark-mode .action-result {
    background-color: #616161;
    color: #ffffff;
}

.category-buttons {
    margin-bottom: 20px;
}

.category-buttons button {
    margin-right: 10px;
}