<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FortiWeb Demo Tool</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="/static/css/styles.css" rel="stylesheet">

    <!-- List of Users -->
    <script>
        // Define the list of options
        var userList = [
            { value: "admin", text: "admin" },
            { value: "gordonb", text: "gordonb" },
            { value: "1337", text: "1337" },
            { value: "pablo", text: "pablo" },
            { value: "smithy", text: "smithy" }
        ];

        // Function to populate a select element with the options
        function populateSelect(selectId) {
            var selectElement = document.getElementById(selectId);
            userList.forEach(function (option) {
                var opt = document.createElement("option");
                opt.value = option.value;
                opt.textContent = option.text;
                selectElement.appendChild(opt);
            });
        }

        // Populate the select elements when the document is loaded
        document.addEventListener("DOMContentLoaded", function () {
            populateSelect("usernameCommandInjection");
            populateSelect("usernameSQLInjection");
        });
    </script>

</head>

<body>
    <div class="container mt-5">
        <div class="d-flex align-items-center mb-4">
            <img src="/static/images/icon-fortiweb.svg" alt="FortiWeb Icon" class="fortiweb-icon">

            <h1>FortiWeb Demo Tool</h1>

        </div>

        <p class="mb-4">This tool will walk you through a FortiWeb demonstration in the Fabric Lab environment.</p>

        <form id="ping-form" class="mb-4 d-flex align-items-center" onsubmit="performPing(event)">
            <input type="text" id="ip-fqdn" name="ip-fqdn" class="form-control me-2" required style="max-width: 250px;">
            <button type="submit" class="btn btn-primary me-2">Ping</button>
            <button type="button" class="btn btn-secondary" onclick="resetPingForm()">Reset</button>
        </form>

        <div id="ping-result" class="action-result border p-3 mb-5"></div>

        <p class="mb-4">Choose a user and perform a Command Injection Attack:</p>

        <div class="mb-4">
            <div class="d-flex align-items-center">
                <select id="usernameCommandInjection" class="form-control me-2" style="width: 250px;"></select>
                <button type="button" class="btn btn-primary me-2" onclick="performCommandInjection()">Command Injection</button>
                <button type="button" class="btn btn-secondary" onclick="resetCommandInjection()">Reset</button>
            </div>
        </div>

        <div id="command-injection-container">
            <iframe id="command-injection-result" class="action-result border" style="width: 100%;"
                onload="resizeIframe(this)"></iframe>
        </div>

        <p class="mb-4">Choose a user and perform a SQL Injection Attack:</p>

        <div class="mb-4">
            <div class="d-flex align-items-center">
                <select id="usernameSQLInjection" class="form-control me-2" style="width: 250px;"></select>
                <button type="button" class="btn btn-primary me-2" onclick="performSQLInjection()">SQL
                    Injection</button>
                <button type="button" class="btn btn-secondary" onclick="resetSQLInjection()">Reset</button>
            </div>
        </div>

        <div id="sql-injection-container">
            <iframe id="sql-injection-result" class="action-result border" style="width: 100%;"
                onload="resizeIframe(this)"></iframe>
        </div>

        <p></p>

    </div>

    <!-- Custom JS -->
    <script src="/static/js/actions.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>