<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FortiWeb Demo Tool</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>

    <div class="container mt-5">
        <!-- Logo, Title, Dark Mode Switch -->
        <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="d-flex align-items-center">
                <img id="fortiweb-logo" src="/static/images/icon-fortiweb.svg" alt="FortiWeb Icon"
                    class="fortiweb-icon">
                <h1 class="ms-3">FortiWeb Demo Tool</h1>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="darkModeSwitch">
                <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
            </div>
        </div>

        <!-- Subtitle -->
        <p class="mb-4"><strong>This tool will walk you through a full FortiWeb demonstration.</strong></p>

        <div class="category-buttons">
            <button type="button" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"
                onclick="showCategory('web-protection')">Web Protection</button>
            <button type="button" class="btn btn-primary btn-sm" role="button" aria-pressed="false"
                onclick="showCategory('bot-mitigation')">Bot Mitigation</button>
            <button type="button" class="btn btn-primary btn-sm" role="button" aria-pressed="false"
                onclick="showCategory('api-protection')">API Protection</button>
            <button type="button" class="btn btn-primary btn-sm" role="button" aria-pressed="false"
                onclick="showCategory('dos-protection')">DOS Protection</button>
            <button type="button" class="btn btn-primary btn-sm" role="button" aria-pressed="false"
                onclick="showCategory('machine-learning')">Machine Learning</button>
            <button type="button" class="btn btn-primary btn-sm" role="button" aria-pressed="false"
                onclick="showCategory('health-check')">Health Check</button>
        </div>

        <div id="web-protection" class="category">

            <!-- Username List -->
            <div class="mb-5" tile>
                <p>Choose the user who will generate the traffic. You can change it at any time.</p>
                <select id="username" class="form-control" style="width: 250px;"></select>
            </div>

            <!-- Command Injection -->
            <div class="mb-5 tile">
                <p class="mb-4">Perform a Command Injection Attack.</p>
                <div class="d-flex align-items-center mb-3">
                    <button type="button" class="btn btn-primary btn-sm me-2"
                        onclick="performCommandInjection()">Command
                        Injection</button>
                    <button type="button" class="btn btn-secondary btn-sm"
                        onclick="resetCommandInjection()">Reset</button>
                </div>
                <div id="command-injection-container">
                    <iframe id="command-injection-result" class="action-result border" style="width: 100%;"
                        onload="resizeIframe(this)"></iframe>
                </div>
            </div>

            <!-- SQL Injection -->
            <div class="mb-5" tile>
                <p class="mb-4">Perform a SQL Injection Attack.</p>
                <div class="d-flex align-items-center mb-3">
                    <button type="button" class="btn btn-primary btn-sm me-2" onclick="performSQLInjection()">SQL
                        Injection</button>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="resetSQLInjection()">Reset</button>
                </div>
                <div id="sql-injection-container">
                    <iframe id="sql-injection-result" class="action-result border" style="width: 100%;"
                        onload="resizeIframe(this)"></iframe>
                </div>
            </div>
        </div>


        <div id="bot-mitigation" class="category" style="display:none;">

            <!-- Bot Deception -->
            <div class="mb-5" tile>
                <p class="mb-4">Perform a Bot Deception.</p>
                <div class="d-flex align-items-center mb-3">
                    <button type="button" class="btn btn-primary btn-sm me-2" onclick="viewPageSource()">View Page
                        Source</button>
                    <button type="button" class="btn btn-primary btn-sm me-2" onclick="performBotDeception()">Bot
                        Deception</button>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="resetBotDeception()">Reset</button>
                </div>
                <div id="bot-deception-additional-text" class="additional-text mt-4 mb-4"></div>
                <div id="bot-deception-container">
                    <iframe id="bot-deception-result" class="action-result border"
                        style="width: 100%; min-height: 35px;" onload="resizeIframe(this)"></iframe>
                    <pre id="bot-deception-text-result" class="action-result border"
                        style="width: 100%; display: none;"></pre>
                </div>
            </div>
        </div>


        <div id="api-protection" class="category" style="display:none;">
            <!-- API Protection actions go here -->
        </div>

        <div id="dos-protection" class="category" style="display:none;">
            <!-- DOS Protection actions go here -->
        </div>

        <div id="machine-learning" class="category" style="display:none;">
            <!-- Machine Learning actions go here -->
        </div>


        <div id="health-check" class="category" style="display:none;">

            <!-- Ping -->
            <div class="mb-5" tile>
                <p class="mb-4">Perform a Ping.</p>
                <form id="ping-form" class="mb-3 d-flex align-items-center" onsubmit="performPing(event)">
                    <input type="text" id="ip-fqdn" name="ip-fqdn" class="form-control me-2" required
                        style="max-width: 250px;">
                    <button type="submit" class="btn btn-primary btn-sm me-2">Ping</button>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="resetPingForm()">Reset</button>
                </form>
                <div id="ping-result" class="action-result border p-3"></div>
            </div>
        </div>

        <!-- Space before the end of the page -->
        <div style="height: 50px;"></div>
    </div>

    <!-- Custom JS -->
    <script src="/static/js/actions.js"></script>
    <script src="/static/js/dark-mode-toggle.js"></script>
    <script src="/static/js/categories.js"></script>
    <script src="/static/js/dvwa-user-list.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>