<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.ico">

    <title>FortiWeb Demo Tool</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="/static/css/styles.css" rel="stylesheet">

    <!-- Custom JS -->
    <script src="/static/js/actions.js"></script>
    <script src="/static/js/lists.js"></script>
    <script src="/static/js/dark-mode-toggle.js"></script>
    <script src="/static/js/categories.js"></script>
    <script src="/static/js/config-handler.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        crossorigin="anonymous"></script>

</head>

<body>

    <div class="mb-5 tile-header">
        <div class="container mt-3">

            <!-- Logo, Title, Dark Mode Switch -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex">
                    <img id="fortiweb-logo" src="/static/images/icon-fortiweb.svg" alt="FortiWeb Icon"
                        class="fortiweb-icon mr-2">
                    <h1>FortiWeb Demo Tool</h1>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="darkModeSwitch">
                    <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
                </div>
            </div>

            <!-- Button toolbar -->
            <div class="btn-toolbar justify-content-between mb-3" role="toolbar"
                aria-label="Toolbar with button groups">
                <!-- First Button Group -->
                <div class="btn-group" role="group" aria-label="Protection group">
                    <button type="button" class="btn btn-primary active" role="button" aria-pressed="true"
                        onclick="showCategory('web-protection')">Web Protection</button>
                    <button type="button" class="btn btn-primary" role="button" aria-pressed="false"
                        onclick="showCategory('bot-mitigation')">Bot Mitigation</button>
                    <button type="button" class="btn btn-primary" role="button" aria-pressed="false"
                        onclick="showCategory('api-protection')">API Protection</button>
                    <button type="button" class="btn btn-primary" role="button" aria-pressed="false"
                        onclick="showCategory('rest-api')">REST API</button>
                </div>

                <!-- Second Button Group  -->
                <div class="btn-group" role="group" aria-label="Miscellaneous group">
                    <button type="button" class="btn btn-secondary" role="button" aria-pressed="false"
                        onclick="showCategory('health-check')">Health Check</button>
                    <button type="button" class="btn btn-secondary" role="button" aria-pressed="false"
                        onclick="showCategory('Configuration')">Configuration</button>
                </div>
            </div>


        </div>
    </div>

    <div class="container mt-5">

        <!-- CATEGORY WEB PROTECTION -->
        <div id="web-protection" class="category">

            <!-- Nikto Web Vulnerability Scan -->
            <div class="row">
                <div class="col-12">
                    <div class="mb-4 tile">
                        <h5 class="mb-3">Web Vulnerability Scanner</h5>
                        <p class="mb-2">Select a Country and perform a Web Vulnerability Scan.</p>
                        <div class="d-flex align-items-center mb-3">
                            <!-- Country List -->
                            <select id="country" class="form-select form-select-sm me-2" style="width: 250px;"></select>
                            <button type="button" class="btn btn-primary btn-sm me-2" onclick="performFullWebScan()">
                                <span id="web-scan-spinner" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true" style="display: none;"></span>
                                Full Web Scan</button>
                            <button type="button" class="btn btn-primary btn-sm me-2" onclick="performLightWebScan()">
                                <span id="web-scan-spinner" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true" style="display: none;"></span>
                                Light Web Scan</button>
                            <button type="button" class="btn btn-secondary btn-sm"
                                onclick="resetWebScan()">Reset</button>
                        </div>
                        <div id="web-scan-container">
                            <div id="web-scan-result" class="action-result border p-3" style="display: none;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Generic Attacks -->
            <div class="row">
                <div class="col-12">
                    <div class="mb-4 tile">
                        <h5 class="mb-3">Generic Attacks</h5>
                        <p class="mb-2">Select a user from the list and generate an attack scenario.</p>
                        <div class="d-flex align-items-center mb-3">

                            <!-- Username List -->
                            <select id="username" class="form-select form-select-sm me-2"
                                style="width: 175px;"></select>

                            <!-- Command Injection -->
                            <button type="button" class="btn btn-primary btn-sm me-2"
                                onclick="performCommandInjection()">Command Injection</button>

                            <!-- SQL Injection -->
                            <button type="button" class="btn btn-primary btn-sm me-2"
                                onclick="performSQLInjection()">SQL Injection</button>

                            <!-- Cross-site Scripting -->
                            <button type="button" class="btn btn-primary btn-sm me-2"
                                onclick="performCrossSiteScripting()">Cross-site Scripting</button>

                            <!-- Zero Day Command Injection -->
                            <button type="button" class="btn btn-primary btn-sm me-2"
                                onclick="performZeroDayCommandInjection()">Zero Day Command Injection</button>

                            <!-- Zero Day Cross-site Scripting -->
                            <button type="button" class="btn btn-primary btn-sm me-2"
                                onclick="performZeroDayCrossSiteScripting()">Zero Day Cross-site Scripting</button>

                            <!-- Reset -->
                            <button type="button" class="btn btn-secondary btn-sm"
                                onclick="resetGenericAttack()">Reset</button>
                        </div>

                        <!-- Result -->
                        <div id="generic-attack-container">
                            <iframe id="generic-attack-result" class="action-result border"
                                style="width: 100%; display: none;" onload="resizeIframe(this)"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Machine Learning Traffic -->
            <div class="row">
                <div class="col-12">
                    <div class="tile">
                        <h5 class="mb-4">Machine Learning</h5>
                        <p class="mb-2">Generate 3000 random HTTP POST requests to populate the bank application form.
                        </p>
                        <div class="d-flex align-items-center mb-3">
                            <button type="button" class="btn btn-primary btn-sm me-2"
                                onclick="performBankFormTraffic()">
                                <span id="bank-form-traffic-spinner" class="spinner-border spinner-border-sm"
                                    role="status" aria-hidden="true" style="display: none;"></span>
                                Run</button>
                            <button type="button" class="btn btn-secondary btn-sm"
                                onclick="resetWebScan()">Reset</button>
                            <div id="bank-form-traffic-additional-text" class="additional-text mt-4 mb-4"></div>
                        </div>
                        <div id="bank-form-traffic-container">
                            <div id="bank-form-traffic-result" class="action-result border p-3" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cookie Security -->
            <div class="row">
                <div class="col-12">
                    <div class="mb-4 tile">
                        <h5 class="mb-3">Cookie Security</h5>
                        <p class="mb-2">Perform a Cookie Based Attack.</p>
                        <div class="d-flex align-items-center mb-3">
                            <button type="button" class="btn btn-primary btn-sm me-2"
                                onclick="performCookieSecurity()">Manipulate
                                Cookie</button>
                            <button type="button" class="btn btn-secondary btn-sm"
                                onclick="resetCookieSecurity()">Reset</button>
                        </div>
                        <div id="cookie-security-container">
                            <div id="initial-cookie-additional-text" class="additional-text mt-4 mb-4"></div>
                            <div id="step1" class="additional-text mt-4 mb-4">
                                <div id="initial-cookie" class="action-result border p-3" style="display: none;">
                                </div>
                            </div>
                            <div id="modified-cookie-additional-text" class="additional-text mt-4 mb-4"></div>
                            <div id="step2" class="additional-text mt-4 mb-4">
                                <div id="modified-cookie" class="action-result border p-3" style="display: none;">
                                </div>
                            </div>
                            <div id="web-page-iframe-additional-text" class="additional-text mt-4 mb-4"></div>
                            <div id="step3" class="additional-text mt-4 mb-4">
                                <iframe id="web-page-iframe" class="action-result border"
                                    style="width: 100%; display: none;" onload="resizeIframe(this)"></iframe>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Credential Stuffing Defense -->
            <div class="row">
                <div class="col-12">
                    <div class="mb-4 tile">
                        <h5 class="mb-3">Credential Stuffing Defense</h5>
                        <p class="mb-2">Perform an authentication witha stolen username / password.</p>
                        <div class="d-flex align-items-center mb-3">
                            <select id="stolen-credential" class="form-select form-select-sm me-2"
                                style="width: 250px;"></select>
                            <button type="button" class="btn btn-primary btn-sm me-2"
                                onclick="performCredentialStuffing()">Credential
                                Stuffing</button>
                            <button type="button" class="btn btn-secondary btn-sm"
                                onclick="resetCredentialStuffing()">Reset</button>
                        </div>
                        <div id="credential-stuffing-container">
                            <iframe id="credential-stuffing-result" class="action-result border"
                                style="width: 100%; display: none;" onload="resizeIframe(this)"></iframe>
                        </div>
                    </div>

                </div>
            </div>


        </div>

        <!-- CATEGORY BOT MITIGATION -->
        <div id="bot-mitigation" class="category" style="display:none;">

            <!-- Biometrics Based Detection -->
            <div class="mb-4 tile">
                <p class="mb-2">Biometrics Based Detection</p>
                <div class="d-flex align-items-center mb-3">
                    <button type="button" class="btn btn-primary btn-sm me-2"
                        onclick="performBotBiometric()">Run</button>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="resetBotBiometric()">Reset</button>
                </div>
                <div id="bot-biometric-additional-text" class="additional-text mt-4 mb-4"></div>
                <div id="bot-biometric-container">
                    <iframe id="bot-biometric-result" class="action-result border"
                        style="width: 100%; min-height: 35px; display: none;" onload="resizeIframe(this)"></iframe>
                    <pre id="bot-biometric-text-result" class="action-result border"
                        style="width: 100%; display: none;"></pre>
                </div>
            </div>

            <!-- Threshold Based Detection -->
            <div class="mb-4 tile">
                <p class="mb-2">Threshold Based Detection</p>
                <div class="d-flex align-items-center mb-3">
                    <button type="button" class="btn btn-primary btn-sm me-2"
                        onclick="performBotCrawler()">Crawler</button>
                    <button type="button" class="btn btn-primary btn-sm me-2"
                        onclick="performBotCrawler()">Crawler</button>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="resetBotThreshold()">Reset</button>
                </div>
                <div id="bot-threshold-additional-text" class="additional-text mt-4 mb-4"></div>
                <div id="bot-threshold-container">
                    <iframe id="bot-threshold-result" class="action-result border"
                        style="width: 100%; min-height: 35px; display: none;" onload="resizeIframe(this)"></iframe>
                </div>
            </div>

            <!-- Bot Deception -->
            <div class="mb-4 tile">
                <p class="mb-2">Bot Deception</p>
                <div class="d-flex align-items-center mb-3">
                    <button type="button" class="btn btn-primary btn-sm me-2" onclick="viewPageSource()">1. View
                        Page
                        Source</button>
                    <button type="button" class="btn btn-primary btn-sm me-2" onclick="performBotDeception()">2. Bot
                        Deception</button>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="resetBotDeception()">Reset</button>
                </div>
                <div id="bot-deception-additional-text" class="additional-text mt-4 mb-4"></div>
                <div id="bot-deception-container">
                    <iframe id="bot-deception-result" class="action-result border"
                        style="width: 100%; min-height: 35px; display: none;" onload="resizeIframe(this)"></iframe>
                    <pre id="bot-deception-text-result" class="action-result border"
                        style="width: 100%; display: none;"></pre>
                </div>
            </div>

            <!-- Known BOTS -->
            <div class="mb-4 tile">
                <p class="mb-2">Known Bots</p>
                <div class="d-flex align-items-center mb-3">
                    <button type="button" class="btn btn-primary btn-sm me-2" onclick="performKnownBots()">Run</button>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="resetKnownBots()">Reset</button>
                </div>
                <div id="known-bots-additional-text" class="additional-text mt-4 mb-4"></div>
                <div id="known-bots-container">
                    <iframe id="known-bots-result" class="action-result border"
                        style="width: 100%; min-height: 35px; display: none;" onload="resizeIframe(this)"></iframe>
                    <pre id="known-bots-text-result" class="action-result border"
                        style="width: 100%; display: none;"></pre>
                </div>
            </div>

            <!-- ML Based Bot Detection -->
            <div class="mb-4 tile">
                <p class="mb-2">ML Based Bot Detection</p>
                <div class="d-flex align-items-center mb-3">
                    <button type="button" class="btn btn-primary btn-sm me-2" onclick="performMLBot()">Run</button>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="resetMLBot()">Reset</button>
                </div>
                <div id="ml-bot-additional-text" class="additional-text mt-4 mb-4"></div>
                <div id="ml-bot-container">
                    <iframe id="ml-bot-result" class="action-result border"
                        style="width: 100%; min-height: 35px; display: none;" onload="resizeIframe(this)"></iframe>
                    <pre id="ml-bot-text-result" class="action-result border" style="width: 100%; display: none;"></pre>
                </div>
            </div>
        </div>

        <!-- CATEGORY API Protection -->
        <div id="api-protection" class="category" style="display:none;">

            <!-- API Requests -->
            <div class="tile">
                <div class="d-flex mb-2 align-items-center justify-content-between">
                    <div class="mb-2 d-flex">Send API Request to the Petstore Server.</div>
                    <div d-flex><button type="button" class="btn btn-secondary btn-sm me-2"
                            onclick="resetPetstoreResult()">Reset</button></div>
                </div>

                <!-- API GET -->
                <div class="mb-3 d-flex align-items-center">
                    <button type="button" class="btn btn-primary btn-sm me-3"
                        style="width: 80px; background-color: #64b0fc; border-color: #64b0fc; font-weight: bold;"
                        onclick="performPetstoreGETfindByStatus()">
                        GET
                    </button>
                    <select id="status" class="form-select form-select-sm me-3" style="width: 300px;"></select>
                    <!-- Display URL -->
                    <span id="api-get" class="badge text-bg-warning rounded-pill"></span>
                </div>

                <!-- API POST -->
                <div class="mb-3 d-flex align-items-center">
                    <button type="button" class="btn btn-success btn-sm me-3"
                        style="width: 80px; background-color: #4ecc91; border-color: #4ecc91; font-weight: bold;"
                        onclick="performPetstorePOSTNewPet()">
                        POST
                    </button>
                    <select id="new-pet" class="form-select form-select-sm me-3" style="width: 300px;"></select>
                    <!-- Display URL -->
                    <span id="api-post" class="badge text-bg-warning rounded-pill"></span>
                </div>

                <!-- API PUT -->
                <div class="mb-3 d-flex align-items-center">
                    <button type="button" class="btn btn-success btn-sm me-3"
                        style="width: 80px; background-color: #faa03c; border-color: #faa03c; font-weight: bold;"
                        onclick="performPetstorePUTPet()">
                        PUT
                    </button>
                    <select id="modify-pet" class="form-select form-select-sm me-3" style="width: 300px;"></select>
                    <!-- Display URL -->
                    <span id="api-put" class="badge text-bg-warning rounded-pill"></span>
                </div>

                <!-- API DELETE -->
                <div class="mb-4 d-flex align-items-center">
                    <button type="button" class="btn btn-success btn-sm me-3"
                        style="width: 80px; background-color: #f73c43; border-color: #f73c43; font-weight: bold;"
                        onclick="performPetstoreDELETEPet()">
                        DELETE
                    </button>
                    <select id="pet-id" class="form-select form-select-sm me-3" style="width: 300px;"></select>
                    <!-- Display URL -->
                    <span id="api-delete" class="badge text-bg-warning rounded-pill"></span>
                </div>

                <!-- Div to display the server response -->
                <div id="petstore-curl-container">
                    <div id="petstore-curl-title" class="additional-text mt-4 mb-4"></div>
                    <pre id="petstore-curl-text" class="action-result border"
                        style="width: 100%; display: none; white-space: pre-wrap;"></pre>
                </div>
                <div id="petstore-result-container">
                    <div id="petstore-result-title" class="additional-text mt-4 mb-4"></div>
                    <iframe id="petstore-result-html" class="action-result border"
                        style="width: 100%; min-height: 35px; display: none;" onload="resizeIframe(this)"></iframe>
                    <pre id="petstore-result-text" class="action-result border"
                        style="width: 100%; display: none;"></pre>
                </div>
            </div>

            <!-- Generate API Traffic -->
            <div class="mb-4 tile">
                <p class="mb-2">Generate API Traffic.</p>
                <div class="d-flex align-items-center mb-3">
                    <button type="button" class="btn btn-primary btn-sm me-2" onclick="generateAPITraffic()">
                        <span id="api-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                            style="display: none;"></span>
                        Run
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="resetAPITraffic()">Reset</button>
                </div>
                <div id="api-traffic-container">
                    <pre id="api-traffic-result" class="action-result border" style="width: 100%; display: none;"></pre>
                </div>
            </div>

        </div>

        <!-- CATEGORY DOS PROTECTION -->
        <div id="dos-protection" class="category" style="display:none;">
            <div class="tile">
                <p class="mb-2">DOS Protection.</p>

            </div>
        </div>

        <!-- CATEGORY MACHINE LEARNING -->
        <div id="machine-learning" class="category" style="display:none;">
            <div class="tile">
                <p class="mb-2">Machine Learning.</p>

            </div>
        </div>

        <!-- CATEGORY REST API -->
        <div id="rest-api" class="category" style="display:none;">

            <div class="container"> <!-- or container-fluid, depending on your needs -->
                <div class="mb-4 row">

                    <!-- Create -->
                    <div class="tile col-4">
                        <p class="mb-4"><strong>Create New Application Policy</strong></p>
                        <div class="mb-3 d-flex align-items-center">
                            <button type="button" class="btn btn-primary btn-sm me-2"
                                onclick="performOnboardNewApplicationPolicy()">
                                <span class="spinner-border spinner-border-sm" id="create-spinner" role="status"
                                    aria-hidden="true" style="display: none;"></span>
                                Create
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm"
                                onclick="resetOnboardNewApplicationPolicy()">Reset</button>
                        </div>
                        <div id="createTasks">
                            <p id="createNewVirtualIP"><span class="task-description">Create new Virtual
                                    IP</span>
                                <span class="badge bg-secondary rounded-pill">Incomplete</span>
                            </p>
                            <p id="createNewServerPool"><span class="task-description">Create new Server
                                    Pool</span>
                                <span class="badge bg-secondary rounded-pill">Incomplete</span>
                            </p>
                            <p id="createNewMemberPool"><span class="task-description">Create new Member
                                    Pool</span>
                                <span class="badge bg-secondary rounded-pill">Incomplete</span>
                            </p>

                            <p id="createNewVirtualServer"><span class="task-description">Create new Virtual
                                    Server</span>
                                <span class="badge bg-secondary rounded-pill">Incomplete</span>
                            </p>

                            <p id="assignVIPToVirtualServer"><span class="task-description">Assign Virtual IP to
                                    Virtual
                                    Server</span> <span class="badge bg-secondary rounded-pill">Incomplete</span>
                            </p>
                            <p id="cloneSignatureProtection"><span class="task-description">Clone Signature
                                    Protection</span> <span class="badge bg-secondary rounded-pill">Incomplete</span>
                            </p>
                            <p id="cloneInlineProtection"><span class="task-description">Clone Inline
                                    Protection</span>
                                <span class="badge bg-secondary rounded-pill">Incomplete</span>
                            </p>
                            <p id="createNewXForwardedForRule"><span class="task-description">Create new
                                    X-Forwarded-For
                                    Rule</span> <span class="badge bg-secondary rounded-pill">Incomplete</span>
                            </p>
                            <p id="configureProtectionProfile"><span class="task-description">Configure
                                    Protection
                                    Profile</span> <span class="badge bg-secondary rounded-pill">Incomplete</span>
                            </p>
                            <p id="createNewPolicy"><span class="task-description">Create new Policy</span>
                                <span class="badge bg-secondary rounded-pill">Incomplete</span>
                            </p>
                        </div>
                    </div>

                    <!-- Delete -->
                    <div class="tile col-4">
                        <p class="mb-4"><strong>Delete Application Policy</strong></p>
                        <div class="mb-3 d-flex align-items-center">
                            <button type="button" class="btn btn-primary btn-sm me-2"
                                onclick="performDeleteApplicationPolicy()">
                                <span class="spinner-border spinner-border-sm" id="delete-spinner" role="status"
                                    aria-hidden="true" style="display: none;"></span>
                                Delete
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm"
                                onclick="resetDeleteApplicationPolicy()">Reset</button>
                        </div>
                        <div id="deleteTasks">
                            <p id="deletePolicy"><span class="task-description">Delete Policy</span> <span
                                    class="badge bg-secondary rounded-pill">Incomplete</span></p>
                            <p id="deleteInlineProtection"><span class="task-description">Delete Inline
                                    Protection
                                    Profile</span>
                                <span class="badge bg-secondary rounded-pill">Incomplete</span>
                            </p>
                            <p id="deleteXForwardedForRule"><span class="task-description">Delete
                                    X-Forwarded-For
                                    Rule</span> <span class="badge bg-secondary rounded-pill">Incomplete</span>
                            </p>
                            <p id="deleteSignatureProtection"><span class="task-description">Delete Signature
                                    Protection</span> <span class="badge bg-secondary rounded-pill">Incomplete</span>
                            </p>
                            <p id="deleteVirtualServer"><span class="task-description">Delete Virtual
                                    Server</span>
                                <span class="badge bg-secondary rounded-pill">Incomplete</span>
                            </p>
                            <p id="deleteServerPool"><span class="task-description">Delete Server Pool</span>
                                <span class="badge bg-secondary rounded-pill">Incomplete</span>
                            </p>
                            <p id="deleteVirtualIP"><span class="task-description">Delete Virtual IP</span>
                                <span class="badge bg-secondary rounded-pill">Incomplete</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CATEGORY HEALTH CHECK -->
        <div id="health-check" class="category" style="display:none;">

            <!-- Health Check -->
            <div class="mb-4 tile">
                <p class="mb-2">Perform HTTP Health Check on the Lab environment.</p>
                <div class="mb-3 d-flex align-items-center">
                    <button type="button" class="btn btn-primary btn-sm me-2" onclick="performHealthCheck()">
                        <span class="spinner-border spinner-border-sm" id="health-check-spinner" role="status"
                            aria-hidden="true" style="display: none;"></span>
                        Health Check
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="resetHealthCheck()">Reset</button>
                </div>
                <div id="health-check-result" class="action-result border p-3" style="display: none;"></div>
            </div>

            <!-- Ping -->
            <div class="mb-4 tile">
                <p class="mb-2">Perform a Ping.</p>
                <form id="ping-form" class="mb-3 d-flex align-items-center" onsubmit="performPing(event)">
                    <input type="text" id="ip-fqdn" name="ip-fqdn" class="form-control form-control-sm me-2"
                        placeholder="192.168.4.2" required style="max-width: 250px;">
                    <button type="submit" class="btn btn-primary btn-sm me-2">
                        <div class="spinner-border spinner-border-sm text-light" id="spinner" role="status"
                            style="display: none;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        Ping
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="resetPingForm()">Reset</button>
                </form>
                <div id="ping-result" class="action-result border p-3" style="display: none;"></div>
            </div>

        </div>

        <!-- CATEGORY CONFIGURATION-->
        <div id="Configuration" class="category" style="display:none;">

            <!-- Configuration -->
            <div class="mb-4 tile">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2>Configuration</h2>
                    <div>
                        <span id="confirmation-message" style="color: red;"></span>
                        <button type="button" class="btn btn-success btn-sm me-2 ms-2"
                            onclick="saveConfiguration()">Save</button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="resetConfiguration()">Reset
                            to
                            Default</button>
                    </div>
                </div>

                <!-- APPLICATIONS -->
                <br>
                <h5>Applications</h5><br>
                <form id="configuration-form">

                    <div class="row mb-3">
                        <label for="dvwa-url" class="form-label col-3 text-start">DVWA URL</label>
                        <div class="col-9">
                            <input type="text" class="form-control form-control-sm" id="dvwa-url">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="dvwa-host" class="form-label col-3 text-start">DVWA HOST</label>
                        <div class="col-9">
                            <input type="text" class="form-control form-control-sm" id="dvwa-host">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="juiceshop-url" class="form-label col-3 text-start">JUICESHOP URL</label>
                        <div class="col-9">
                            <input type="text" class="form-control form-control-sm" id="juiceshop-url">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="fwb-url" class="form-label col-3 text-start">FWB URL</label>
                        <div class="col-9">
                            <input type="text" class="form-control form-control-sm" id="fwb-url">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="speedtest-url" class="form-label col-3 text-start">SPEEDTEST URL</label>
                        <div class="col-9">
                            <input type="text" class="form-control form-control-sm" id="speedtest-url">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="petstore-url" class="form-label col-3 text-start">PETSTORE URL</label>
                        <div class="col-9">
                            <input type="text" class="form-control form-control-sm" id="petstore-url">
                        </div>
                    </div>

                    <!-- REST API -->
                    <br>
                    <h5>REST API</h5><br>
                    <div class="row mb-3">
                        <label for="username-api" class="form-label col-3 text-start">Username API</label>
                        <div class="col-9">
                            <input type="text" class="form-control form-control-sm" id="username-api">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="password-api" class="form-label col-3 text-start">Password API</label>
                        <div class="col-9">
                            <input type="text" class="form-control form-control-sm" id="password-api">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="vdom-api" class="form-label col-3 text-start">VDOM API</label>
                        <div class="col-9">
                            <input type="text" class="form-control form-control-sm" id="vdom-api">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="token" class="form-label col-3 text-start">TOKEN API</label>
                        <div class="col-9">
                            <input type="text" class="form-control form-control-sm" id="token" disabled>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="fwb-mgt-ip" class="form-label col-3 text-start">FortiWeb Management
                            IP</label>
                        <div class="col-9">
                            <input type="text" class="form-control form-control-sm" id="fwb-mgt-ip">
                        </div>
                    </div>

                    <!-- MACHINE LEARNING -->
                    <br>
                    <h5>Machine Learning</h5><br>
                    <div class="row mb-3">
                        <label for="policy" class="form-label col-3 text-start">Policy Name</label>
                        <div class="col-9">
                            <input type="text" class="form-control form-control-sm" id="policy">
                        </div>
                    </div>

                    <!-- GLOBAL -->
                    <br>
                    <h5>Global</h5><br>
                    <div class="row mb-3">
                        <label for="user-agent" class="form-label col-3 text-start">User Agent</label>
                        <div class="col-9">
                            <input type="text" class="form-control form-control-sm" id="user-agent">
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <!-- Space before the end of the page -->
        <div style="height: 100px;"></div>
    </div>

</body>

</html>